@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root{
    --shadow: 0px 100px 80px rgb(0 0 0 / 16%), 0px 41.7776px 33.4221px rgb(0 0 0 / 12%), 0px 22.3363px 17.869px rgb(0 0 0 / 10%), 0px 12.5216px 10.0172px rgb(0 0 0 / 8%), 0px 6.6501px 5.32008px rgb(0 0 0 / 6%), 0px 2.76726px 2.21381px rgb(0 0 0 / 8%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    padding: 20px 40px;
}

body{
    background-image: linear-gradient(to bottom,#282930,#0A0A0D);
    height: 100%;
    width: 100%;

}

.show-on-scroll{
    opacity: 0;
    transition: all .5s .25s ease-in;
}

.is-visible{
    transform: translateY(0);
    opacity: 1;
}


.section-one{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 500px 100px;
    grid-template-areas:
        'main timer'
        'foot foot';
    margin-top: 100px;
    margin-bottom: 100px;
}


@media (max-width: 1549px) {
    .section-one{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'main'
            'timer'
            'foot';
    }
}

.section-one > div{
    margin: auto;
    
}

@media (max-width: 1549px) {
    .section-one > div{
        padding: 20px;   
    }
}

.main-text-container{
    font-size: 9.4rem;
    display: block;
    grid-area: main;
}

.main-text-container h1{
    line-height: 200px;
    font-weight: 900;
    text-shadow: var(--shadow);
}


@media (max-width: 1549px) {
    .main-text-container h1{
        text-align: center;
        line-height: 200px;
        font-weight: 900;
        text-shadow: var(--shadow);
    }
}

.main-text-container a{
    text-decoration: none;
}

.sub-text-container{
    display: inline-flex;
    align-items: center;
    grid-area: foot;
    justify-content: center;
}

@media (max-width: 1549px) {
    .sub-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: foot;
        justify-content: center;
        gap: 10px;
    }
}

.sub-text-container p{
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    text-shadow: var(--shadow);
}

.sub-text-container input{
    box-shadow: var(--shadow);
    background: #393B47;
    border-radius: 3px;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    min-width: 18rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

.sub-text-container input[type=submit]{
    background-color: rgb(255, 84, 84);
    min-width: 12rem;
    
}

.timer-container{
    grid-area: timer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer-title{
    font-size: 50px;
    text-align: center;
    text-shadow: var(--shadow);

}

.timer{
    display: flex;
    justify-content: center;
}

.timer > div {
    box-shadow: var(--shadow);
    background: #393B47;
    margin: 10px;
    font-size: 72px;
    font-weight: 600;
    padding: 5px 5px;
    border-radius: 3px;
}

.section-two{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.card{
    box-shadow: var(--shadow);
    background: #393B47;
    margin: 15px;
    padding: 0;
    border-radius: 5px;
    height: 28.125rem;
    width: 18.75rem;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: var(--shadow);
}

.card img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card h2{
    color: rgb(255, 84, 84);
    font-size: 35px;
    margin-top: -10px;
    font-weight: 800;
}

.footer{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1549px) {
    .footer{
        padding: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 10px;
    }
}

.footer svg{
    fill: #fff;
    transition: fill .15s ease-in;
}

.footer svg:hover{
    fill: rgb(255, 84, 84);
}

.footer--social-media{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.footer--social-media a{
    padding: 5px 10px;
}